body{
    background-color: #CFD0CF;
}
header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    color: #434344;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 720px;
    margin: auto;
}
.card{
    font-size: 0;
    width:130px;
    height:130px;
    margin:25px;
    background:linear-gradient(45deg, rgba(34,171,147,1) 40%, rgba(25,102,141,1) 100%);
}